#banner {
    vertical-align: top;
    padding: 20px;
    text-align: center;
}

#formFilterRooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group {
    padding: 6px;
}

input, select {
    width: 150px;
    padding: 0;
    margin: 0;
}

@@media only screen and (max-width: 500px) {
    .timeSelect {
        width: 50px;
    }
}
