@model RoomScheduler.Web.InputModels.FormFilterInputModel

<form id="formFilterRooms" method="get" asp-controller="Room" asp-action="Filter">
    <div class="form-group">
        <label asp-for="Date"></label>
        <input type="date" asp-for="Date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group">
        <label asp-for="Participants"></label>
        <input type="number" asp-for="Participants" value="2" />
    </div>
    <div class="form-group">
        <label>Hours : Minutes</label>
        <select class="timeSelect" asp-for="Hours">
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
        </select>
        :
        <select class="timeSelect" asp-for="Minutes">
            <option value=":00">00</option>
            <option value=":15">15</option>
            <option value=":30">30</option>
            <option value=":45">45</option>
        </select>
    </div>
    <div>
        <button type="submit" form="formFilterRooms" class="btn btn-secondary" style="width: 150px;">Search</button>
    </div>

    <div style="width: 100%;">
        <div style="padding-left: 20px;" asp-validation-summary="All" class="text-danger"></div>
    </div>
</form>