@model List<RoomScheduler.Web.ViewModels.RoomAllViewModel>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        [name="container"] {
            border: 2px solid;
            border-color: grey;
            border-radius: 20px;
        }
    </style>
</head>
<body>

    <div name="container" style="padding-bottom: 75px; margin-bottom: 50px;">
        <h3 style="vertical-align: top; padding: 20px; text-align: center;">Find the best room for your meeting!</h3>

        <partial name="_FormFilterPartial.cshtml" model="new RoomScheduler.Web.InputModels.FormFilterInputModel()" />
    </div>

    @if (Model.Count == 0)
    {
        <div name="container" class="list-group-item" style="margin-bottom: 10px;">
            <div style="padding: 10px;">
                <h5>No available rooms!</h5>
            </div>
        </div>
    }
    else
    {
        <div name="container" class="list-group-item" style="margin-bottom: 10px;">
            <div style="padding: 10px;">
                <h5>All available rooms:</h5>
            </div>
        </div>

        <div class="wrapper">
            @foreach (var room in Model)
            {
                <a name="container" href="@Url.Action("Current", "Room", new { roomGuid = room.Guid, optionalDuration = new TimeSpan(1, 0, 0) } )" class="list-group-item-action">
                    <div style="padding: 10px;">
                        Name: @room.Name
                        <br />
                        Capacity: @room.Capacity
                    </div>
                </a>
            }
        </div>
    }

    @section Scripts{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }

</body>
</html>